* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#logo {
    width: 150px;
    height: 100px;
    margin-top: 10px;
}

.barra {
    color: white !important;
}

#basic-nav-dropdown {
    color: white !important;
}

.login {
    background-color: white;
    color: #00784A;
    display: flex;
    height: 30px;
    width: fit-content;
    align-items: center;
    padding: 10px;


}

.cart {

    display: flex;
    align-items: center;
    margin-right: 20px;
}

.material-icons {
    width: 30px;
    height: 30px;
    color: white;

}

.number {
    color: white;
}

.cantidad {
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #00784A;


}

.card {
    margin: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting {
    display: flex;
    justify-content: center;
    color: #00784A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.3em;
}